openapi: 3.1.0
info:
  version: 1.522.0
  title: Dfns
  description: Dfns API
servers:
  - url: https://api.dfns.io
    description: Production
  - url: https://api.dfns.ninja
    description: Staging
components:
  securitySchemes:
    authenticationToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |-
        **Bearer Token:** Used to authenticate API requests.
        More details how to generate the token: [Get an authentication token](https://docs.dfns.co/d/advanced-topics/authentication/authentication-authorization#get-an-authentication-token)
    userActionSignature:
      type: apiKey
      in: header
      name: X-DFNS-USERACTION
      description: |-
        **User Action Signature:** Used to sign the change-inducing API requests.
        More details how to generate the token: [Get an authentication token](https://docs.dfns.co/d/advanced-topics/authentication/authentication-authorization#sign-api-requests-user-action-signing)
  schemas: {}
  parameters: {}
paths:
  /auth/action:
    post:
      summary: Create User Action Signature
      tags:
        - Auth
      security:
        - authenticationToken: []
      description: >
        Completes the user action signing process and provides a signing token
        that can be used to verify the user intended to perform the action.


        The type of credentials used to sign the action is determined by the
        `kind` field in the nested objects (`firstFactor` and `secondFactor`).
        Supported credential kinds are:

        * `Fido2`: User action is signed by a user's signing device using
        `WebAuthn`.

        * `Key`: User action is signed by a user's, or token's, private key.

        * `PasswordProtectedKey`: Login challenge is signed by the decrypted
        user's private key that was sent during [Create User Action Signature
        Challenge](/api-reference/auth/create-user-action-challenge) step.
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ✅ Personal Access Token   
          ✅ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ✅ Delegated User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                challengeIdentifier:
                  type: string
                firstFactor:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                            authenticatorData:
                              type: string
                              minLength: 1
                            userHandle:
                              type: string
                          required:
                            - credId
                            - clientData
                            - signature
                            - authenticatorData
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Key
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Password
                        password:
                          type: string
                          minLength: 1
                      required:
                        - kind
                        - password
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - PasswordProtectedKey
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                secondFactor:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                            authenticatorData:
                              type: string
                              minLength: 1
                            userHandle:
                              type: string
                          required:
                            - credId
                            - clientData
                            - signature
                            - authenticatorData
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Key
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Totp
                        otpCode:
                          type: string
                          minLength: 1
                      required:
                        - kind
                        - otpCode
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - PasswordProtectedKey
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
              required:
                - challengeIdentifier
                - firstFactor
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  userAction:
                    type: string
                required:
                  - userAction
  /auth/action/init:
    post:
      summary: Create User Action Challenge
      tags:
        - Auth
      security:
        - authenticationToken: []
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ✅ Personal Access Token   
          ✅ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ✅ Delegated User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userActionServerKind:
                  type: string
                  enum:
                    - Api
                    - Staff
                userActionHttpMethod:
                  type: string
                  minLength: 1
                userActionHttpPath:
                  type: string
                  minLength: 1
                userActionPayload:
                  type: string
              required:
                - userActionHttpMethod
                - userActionHttpPath
                - userActionPayload
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    type: string
                  challengeIdentifier:
                    type: string
                  rp:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - name
                  supportedCredentialKinds:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                            - Key
                            - Password
                            - Totp
                            - RecoveryKey
                            - PasswordProtectedKey
                        factor:
                          type: string
                          enum:
                            - first
                            - second
                            - either
                        requiresSecondFactor:
                          type: boolean
                      required:
                        - kind
                        - factor
                        - requiresSecondFactor
                  userVerification:
                    type: string
                    enum:
                      - required
                      - preferred
                      - discouraged
                  attestation:
                    type: string
                    enum:
                      - none
                      - indirect
                      - direct
                      - enterprise
                  allowCredentials:
                    type: object
                    properties:
                      key:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                      passwordProtectedKey:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                            encryptedPrivateKey:
                              type: string
                          required:
                            - type
                            - id
                            - encryptedPrivateKey
                      webauthn:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                    required:
                      - key
                      - webauthn
                  externalAuthenticationUrl:
                    type: string
                required:
                  - challenge
                  - challengeIdentifier
                  - supportedCredentialKinds
                  - userVerification
                  - attestation
                  - allowCredentials
                  - externalAuthenticationUrl
  /auth/apps:
    get:
      summary: List Applications
      tags:
        - Auth
      security:
        - authenticationToken: []
      deprecated: true
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ✅ Personal Access Token   
          ✅ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ❌ Delegated User
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        appId:
                          type: string
                        kind:
                          type: string
                          enum:
                            - ServerSideApplication
                            - ClientSideApplication
                        orgId:
                          type: string
                        expectedRpId:
                          type: string
                        name:
                          type: string
                        isActive:
                          type: boolean
                        expectedOrigin:
                          type: string
                        permissionAssignments:
                          type: array
                          items:
                            type: object
                            properties:
                              permissionName:
                                type: string
                              permissionId:
                                type: string
                              assignmentId:
                                type: string
                              operations:
                                type: array
                                items:
                                  type: string
                            required:
                              - permissionName
                              - permissionId
                              - assignmentId
                        accessTokens:
                          type: array
                          items:
                            type: object
                            properties:
                              accessToken:
                                type: string
                              dateCreated:
                                type: string
                              credId:
                                type: string
                              isActive:
                                type: boolean
                              kind:
                                type: string
                                enum:
                                  - Pat
                                  - ServiceAccount
                                  - Token
                                  - Code
                                  - Recovery
                                  - Temp
                                  - Application
                              linkedUserId:
                                type: string
                              linkedAppId:
                                type: string
                              name:
                                type: string
                              orgId:
                                type: string
                              permissionAssignments:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    permissionName:
                                      type: string
                                    permissionId:
                                      type: string
                                    assignmentId:
                                      type: string
                                    operations:
                                      type: array
                                      items:
                                        type: string
                                  required:
                                    - permissionName
                                    - permissionId
                                    - assignmentId
                              publicKey:
                                type: string
                              tokenId:
                                type: string
                            required:
                              - dateCreated
                              - credId
                              - isActive
                              - kind
                              - linkedUserId
                              - linkedAppId
                              - name
                              - orgId
                              - permissionAssignments
                              - publicKey
                              - tokenId
                      required:
                        - appId
                        - kind
                        - orgId
                        - name
                        - isActive
                        - permissionAssignments
                        - accessTokens
                required:
                  - items
  /auth/apps/{appId}:
    get:
      summary: Get Application
      tags:
        - Auth
      security:
        - authenticationToken: []
      deprecated: true
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ✅ Personal Access Token   
          ✅ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ❌ Delegated User
      parameters:
        - schema:
            type: string
            minLength: 1
          required: true
          name: appId
          in: path
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  appId:
                    type: string
                  kind:
                    type: string
                    enum:
                      - ServerSideApplication
                      - ClientSideApplication
                  orgId:
                    type: string
                  expectedRpId:
                    type: string
                  name:
                    type: string
                  isActive:
                    type: boolean
                  expectedOrigin:
                    type: string
                  permissionAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        permissionName:
                          type: string
                        permissionId:
                          type: string
                        assignmentId:
                          type: string
                        operations:
                          type: array
                          items:
                            type: string
                      required:
                        - permissionName
                        - permissionId
                        - assignmentId
                  accessTokens:
                    type: array
                    items:
                      type: object
                      properties:
                        accessToken:
                          type: string
                        dateCreated:
                          type: string
                        credId:
                          type: string
                        isActive:
                          type: boolean
                        kind:
                          type: string
                          enum:
                            - Pat
                            - ServiceAccount
                            - Token
                            - Code
                            - Recovery
                            - Temp
                            - Application
                        linkedUserId:
                          type: string
                        linkedAppId:
                          type: string
                        name:
                          type: string
                        orgId:
                          type: string
                        permissionAssignments:
                          type: array
                          items:
                            type: object
                            properties:
                              permissionName:
                                type: string
                              permissionId:
                                type: string
                              assignmentId:
                                type: string
                              operations:
                                type: array
                                items:
                                  type: string
                            required:
                              - permissionName
                              - permissionId
                              - assignmentId
                        publicKey:
                          type: string
                        tokenId:
                          type: string
                      required:
                        - dateCreated
                        - credId
                        - isActive
                        - kind
                        - linkedUserId
                        - linkedAppId
                        - name
                        - orgId
                        - permissionAssignments
                        - publicKey
                        - tokenId
                required:
                  - appId
                  - kind
                  - orgId
                  - name
                  - isActive
                  - permissionAssignments
                  - accessTokens
  /auth/credentials:
    post:
      summary: Create Credential
      tags:
        - Auth
      security:
        - authenticationToken: []
          userActionSignature: []
      description: >-
        Part of the flow [Create Credential Regular
        flow](/api-reference/auth/credentials#regular-flow).


        Adds a new credential to a user's account. See [Credential
        Kinds](/api-reference/auth/credentials#credential-kinds) for all
        supported credential types.
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ❌ Personal Access Token   
          ❌ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ✅ Delegated User
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Fido2
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Key
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - PasswordProtectedKey
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    encryptedPrivateKey:
                      type: string
                      minLength: 1
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - encryptedPrivateKey
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Password
                    credentialInfo:
                      type: object
                      properties:
                        password:
                          type: string
                          minLength: 1
                      required:
                        - password
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Totp
                    credentialInfo:
                      type: object
                      properties:
                        otpCode:
                          type: string
                          minLength: 1
                      required:
                        - otpCode
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - RecoveryKey
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    encryptedPrivateKey:
                      type: string
                      minLength: 1
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - Fido2
                      - Key
                      - Password
                      - Totp
                      - RecoveryKey
                      - PasswordProtectedKey
                  credentialId:
                    type: string
                  credentialUuid:
                    type: string
                  dateCreated:
                    type: string
                  isActive:
                    type: boolean
                  name:
                    type: string
                  publicKey:
                    type: string
                  relyingPartyId:
                    type: string
                  origin:
                    type: string
                required:
                  - kind
                  - credentialId
                  - credentialUuid
                  - dateCreated
                  - isActive
                  - name
                  - publicKey
                  - relyingPartyId
                  - origin
    get:
      summary: List Credentials
      tags:
        - Auth
      security:
        - authenticationToken: []
      description: List all credentials for a user.
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ✅ Personal Access Token   
          ❌ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ✅ Delegated User
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                            - Key
                            - Password
                            - Totp
                            - RecoveryKey
                            - PasswordProtectedKey
                        credentialId:
                          type: string
                        credentialUuid:
                          type: string
                        dateCreated:
                          type: string
                        isActive:
                          type: boolean
                        name:
                          type: string
                        publicKey:
                          type: string
                        relyingPartyId:
                          type: string
                        origin:
                          type: string
                      required:
                        - kind
                        - credentialId
                        - credentialUuid
                        - dateCreated
                        - isActive
                        - name
                        - publicKey
                        - relyingPartyId
                        - origin
                required:
                  - items
  /auth/credentials/init:
    post:
      summary: Create Credential Challenge
      tags:
        - Auth
      security:
        - authenticationToken: []
      description: >-
        Part of the flow [Create Credential Regular
        flow](/api-reference/auth/credentials#regular-flow).
          
          Starts a create user credential session, returning a challenge that will be used to verify the user's identity.
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ❌ Personal Access Token   
          ❌ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ✅ Delegated User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Fido2
                    - Key
                    - Password
                    - Totp
                    - RecoveryKey
                    - PasswordProtectedKey
              required:
                - kind
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Password
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Totp
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      otpUrl:
                        type: string
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - otpUrl
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Fido2
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      authenticatorSelection:
                        type: object
                        properties:
                          authenticatorAttachment:
                            type: string
                            enum:
                              - platform
                              - cross-platform
                          residentKey:
                            type: string
                            enum:
                              - required
                              - preferred
                              - discouraged
                          requireResidentKey:
                            type: boolean
                          userVerification:
                            type: string
                            enum:
                              - required
                              - preferred
                              - discouraged
                        required:
                          - residentKey
                          - requireResidentKey
                          - userVerification
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      excludeCredentials:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - authenticatorSelection
                      - attestation
                      - pubKeyCredParams
                      - excludeCredentials
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Key
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - PasswordProtectedKey
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - RecoveryKey
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
  /auth/credentials/activate:
    put:
      summary: Activate Credential
      tags:
        - Auth
      security:
        - authenticationToken: []
          userActionSignature: []
      description: Activates a credential that was previously deactivated. If the
        credential is already activated no action is taken.
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ❌ Personal Access Token   
          ❌ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ✅ Delegated User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialUuid:
                  type: string
                  minLength: 1
              required:
                - credentialUuid
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
  /auth/credentials/deactivate:
    put:
      summary: Deactivate Credential
      tags:
        - Auth
      security:
        - authenticationToken: []
          userActionSignature: []
      description: Deactivates a credential that was previously active. If the
        credential is already deactivated no action is taken.
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ❌ Personal Access Token   
          ❌ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ✅ Delegated User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialUuid:
                  type: string
                  minLength: 1
              required:
                - credentialUuid
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
  /auth/credentials/code:
    post:
      summary: Create Credential Code
      tags:
        - Auth
      security:
        - authenticationToken: []
          userActionSignature: []
      description: >-
        Part of the [Create Credential With Code
        flow](/api-reference/auth/credentials#create-credential-with-code-flow).


        Creates a one-time-code that can then be used to create a new credential
        from a place you don't have access to one of your existing credential.
      x-mint:
        content: |-
          #### Required Permissions

          No permission required.

          #### Token Kinds Allowed

          ✅ Access Token   
          ❌ Personal Access Token   
          ❌ Service Account Access Token

          #### User Kinds allowed

          ✅ User   
          ✅ Delegated User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expiration:
                  anyOf:
                    - type: string
                      format: date-time
                    - type: integer
                      minimum: 0
                      exclusiveMinimum: true
                  description: Code expiration, as an ISO-8601 datetime string or a unix timestamp
              required:
                - expiration
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  expiration:
                    type: string
                required:
                  - code
                  - expiration
  /auth/credentials/code/init:
    post:
      summary: Create Credential Challenge With Code
      tags:
        - Auth
      security:
        - {}
      x-mint:
        content: |-
          #### Required Permissions

          No authentication required.

          #### Token Kinds Allowed

          No authentication required.

          #### User Kinds allowed

          No authentication required.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialKind:
                  type: string
                  enum:
                    - Fido2
                    - Key
                    - Password
                    - Totp
                    - RecoveryKey
                    - PasswordProtectedKey
                code:
                  type: string
                  minLength: 1
              required:
                - credentialKind
                - code
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Password
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Totp
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      otpUrl:
                        type: string
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - otpUrl
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Fido2
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      authenticatorSelection:
                        type: object
                        properties:
                          authenticatorAttachment:
                            type: string
                            enum:
                              - platform
                              - cross-platform
                          residentKey:
                            type: string
                            enum:
                              - required
                              - preferred
                              - discouraged
                          requireResidentKey:
                            type: boolean
                          userVerification:
                            type: string
                            enum:
                              - required
                              - preferred
                              - discouraged
                        required:
                          - residentKey
                          - requireResidentKey
                          - userVerification
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      excludeCredentials:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - authenticatorSelection
                      - attestation
                      - pubKeyCredParams
                      - excludeCredentials
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Key
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - PasswordProtectedKey
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - RecoveryKey
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
  /auth/credentials/code/verify:
    post:
      summary: Create Credential With Code
      tags:
        - Auth
      security:
        - {}
      x-mint:
        content: |-
          #### Required Permissions

          No authentication required.

          #### Token Kinds Allowed

          No authentication required.

          #### User Kinds allowed

          No authentication required.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Fido2
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Key
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - PasswordProtectedKey
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    encryptedPrivateKey:
                      type: string
                      minLength: 1
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - encryptedPrivateKey
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Password
                    credentialInfo:
                      type: object
                      properties:
                        password:
                          type: string
                          minLength: 1
                      required:
                        - password
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Totp
                    credentialInfo:
                      type: object
                      properties:
                        otpCode:
                          type: string
                          minLength: 1
                      required:
                        - otpCode
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - RecoveryKey
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    encryptedPrivateKey:
                      type: string
                      minLength: 1
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - Fido2
                      - Key
                      - Password
                      - Totp
                      - RecoveryKey
                      - PasswordProtectedKey
                  credentialId:
                    type: string
                  credentialUuid:
                    type: string
                  dateCreated:
                    type: string
                  isActive:
                    type: boolean
                  name:
                    type: string
                  publicKey:
                    type: string
                  relyingPartyId:
                    type: string
                  origin:
                    type: string
                required:
                  - kind
                  - credentialId
                  - credentialUuid
                  - dateCreated
                  - isActive
                  - name
                  - publicKey
                  - relyingPartyId
                  - origin
  /auth/login/code:
    post:
      summary: Send Login Code
      tags:
        - Auth
      security:
        - {}
      x-mint:
        content: |-
          #### Required Permissions

          No authentication required.

          #### Token Kinds Allowed

          No authentication required.

          #### User Kinds allowed

          No authentication required.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                orgId:
                  type: string
                  minLength: 1
              required:
                - username
                - orgId
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
  /auth/login/init:
    post:
      summary: Create Login Challenge
      tags:
        - Auth
      security:
        - {}
      description: >-
        Start a user login session, returning a challenge that will be used to
        verify the user's identity.


        If the user has a credential of kind `PasswordProtectedKey` a temporary
        one time code needs to be passed in the `loginCode` field.


        If the user has at least one discoverable webauthn credential,
        `username` is optional (usernamless flow).
      x-mint:
        content: |-
          #### Required Permissions

          No authentication required.

          #### Token Kinds Allowed

          No authentication required.

          #### User Kinds allowed

          No authentication required.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                orgId:
                  type: string
                loginCode:
                  type: string
              required:
                - orgId
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    type: string
                  challengeIdentifier:
                    type: string
                  rp:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - name
                  supportedCredentialKinds:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                            - Key
                            - Password
                            - Totp
                            - RecoveryKey
                            - PasswordProtectedKey
                        factor:
                          type: string
                          enum:
                            - first
                            - second
                            - either
                        requiresSecondFactor:
                          type: boolean
                      required:
                        - kind
                        - factor
                        - requiresSecondFactor
                  userVerification:
                    type: string
                    enum:
                      - required
                      - preferred
                      - discouraged
                  attestation:
                    type: string
                    enum:
                      - none
                      - indirect
                      - direct
                      - enterprise
                  allowCredentials:
                    type: object
                    properties:
                      key:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                      passwordProtectedKey:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                            encryptedPrivateKey:
                              type: string
                          required:
                            - type
                            - id
                            - encryptedPrivateKey
                      webauthn:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                    required:
                      - key
                      - webauthn
                  externalAuthenticationUrl:
                    type: string
                required:
                  - challenge
                  - challengeIdentifier
                  - supportedCredentialKinds
                  - userVerification
                  - attestation
                  - allowCredentials
                  - externalAuthenticationUrl
  /auth/login:
    post:
      summary: Login
      tags:
        - Auth
      security:
        - {}
      x-mint:
        content: |-
          #### Required Permissions

          No authentication required.

          #### Token Kinds Allowed

          No authentication required.

          #### User Kinds allowed

          No authentication required.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                challengeIdentifier:
                  type: string
                firstFactor:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                            authenticatorData:
                              type: string
                              minLength: 1
                            userHandle:
                              type: string
                          required:
                            - credId
                            - clientData
                            - signature
                            - authenticatorData
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Key
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Password
                        password:
                          type: string
                          minLength: 1
                      required:
                        - kind
                        - password
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - PasswordProtectedKey
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                secondFactor:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                            authenticatorData:
                              type: string
                              minLength: 1
                            userHandle:
                              type: string
                          required:
                            - credId
                            - clientData
                            - signature
                            - authenticatorData
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Key
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Totp
                        otpCode:
                          type: string
                          minLength: 1
                      required:
                        - kind
                        - otpCode
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - PasswordProtectedKey
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
              required:
                - challengeIdentifier
                - firstFactor
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                required:
                  - token
[...]
