@property --text-size {
    syntax: "<length>";
    inherits: false;
    initial-value: 1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--text-size);
    letter-spacing: -0.02rem;
}


/* Table of contents box styling ("On this page" box) */
#table-of-contents-layout:has(div) {
    border: 1px solid rgb(var(--gray-200));
    background-color: #fcfcfc;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:is(.dark *) {
        border: 1px solid rgb(var(--gray-600));
        background-color: #1e1e1e;
    }

    &>#table-of-contents>div {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: large;
    }
}

/* Sidebar content styling */
#sidebar-content {
    background-color: #fcfcfc;

    &:is(.dark *) {
        background-color: #151417;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.02rem !important;
    font-weight: bold;
}

/* Tables styling */
#content-area table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
}

#content-area table th,
#content-area table td {
    border: 1px solid rgb(var(--gray-200));
    padding: 0.5rem 1rem;

    &:is(.dark *) {
        border: 1px solid rgb(var(--gray-600));
    }
}


#content-area table th {
    background-color: rgb(var(--gray-200));
    font-weight: bold;
    vertical-align: middle;

    &:is(.dark *) {
        background-color: rgb(var(--gray-600));
    }
}

#content-area table tr:nth-child(even) {
    background-color: #f9f9fb;

    &:is(.dark *) {
        background-color: rgb(var(--gray-900));
    }
}

/* This is for aligning the METHOD (POST GET etc) with the icons in the sidebar menu */
#sidebar-content li>a:has(:nth-child(2))> :first-child {
    mask-size: contain !important;
    flex-basis: 2rem;
}

/* Left alignment for sidebar items */
#sidebar-content ul#sidebar-group {

    /* all level 1 items (Level 1 = always visible) */
    &>li {

        /* level 1 - only sub-group (level 2) headers */
        &[data-group-tag]>div {
            margin-left: -18px;
            padding-left: 16px !important;
        }

        /* all level 2 items */
        &>ul>li {
            margin-left: 1.5px;

            /* level 2 - only pages */
            &>a {
                padding-left: 13.5px !important;
            }

            /* level 2 - only sub-group (level 3) headers */
            &[data-group-tag]>div {
                padding-left: 13.5px !important;
            }

            /* all level 3 items (consider there are only pages at that level, we shouldn't go to Level 4 sub menus!) */
            &>ul>li {
                margin-left: 17.5px;

                /* level 3 - only pages */
                &>a {
                    padding-left: 13.5px !important;
                }
            }

        }

        /* Left border gray, and primary when selected */
        & li {
            border-left: 1px solid rgb(var(--gray-300));

            &:is(.dark *) {
                border-color: rgb(var(--gray-600));
            }

            &:has(>a.font-semibold) {
                border-color: rgb(var(--primary));

                &:is(.dark *) {
                    border-color: rgb(var(--primary-light));
                }
            }
        }
    }
}

/* Sidebar links hover effect, data-group-tag is for the sub-groups headers */
#sidebar-content a:hover,
#sidebar-content [data-group-tag]>div:hover {
    background-color: #f2f2f4;

    &:is(.dark *) {
        background-color: #1e1e1e;
    }
}

/* Deprecated tag in nav */
.nav-tag-pill>.nav-tag-pill-text[data-nav-tag="Deprecated"] {
    background-color: #fffaeb;
    color: #b45309;
    border: 1px solid #fcd34d;
    font-weight: normal;
}

/* deprecated component */
.deprecated {
    opacity: 0.75;
}

/* bug fix: callout bold was displayed in black */
.callout strong {
    color: inherit
}

/* pages description (1st paragraph under the title) */
#content-area header>.text-lg {
    font-size: var(--text-size);
    line-height: 1.5rem;
    /* color: #6c717d; */
}

/* general text */
.prose {
    /* /* color: #6c717d !important; too light !! */
    font-size: var(--text-size);
}

/* general links in text + specific case for api autogenerated doc */
a.link:not(.nav-tabs-item),
.api-section>div:not(.api-section-heading) a {
    color: rgb(var(--primary));
    font-weight: var(--font-weight-body-custom);
    border-bottom: 0;
    padding-right: 1px;

    /* underline on hover only */
    &:hover:not(:has(img:only-child)) {
        border-bottom: 1px solid rgb(var(--primary));
    }

    /* display icon for external links, but not when it's just an image button */
    &:is([target="_blank"]:not(:has(img:only-child)), .api-section>div:not(.api-section-heading) a)::before {
        content: '\29C9 ';
        padding-right: 2px;
        padding-left: 1px;
    }
}

/* nested list, to change the bullet style for 2nd level in the list */
#content-area ul>li {
    & li:before {
        background-color: rgb(var(--background-light));
        border-color: #160c32;
        border-width: 1px;
        border-style: solid;
    }

    & li:is(.dark *):before {
        background-color: rgb(var(--background-dark));
        border-color: rgb(var(--gray-400));
    }
}

/* hide the base URL in the API endpoint pages */
div:has(+ .tryit-button)>:nth-child(2) {
    &>:first-child {
        display: none;
    }
}

/* Put the card icon (in horizontal card setup) at the top */
.card>.flex>div[data-component-part="card-icon"] {
    align-self: start;
}

/* Dfns logo bigger */
.nav-logo {
    height: 2rem;
}

/* Stepper component : step number formatting */
.steps div[data-component-part="step-number"]>div {
    background-color: #160c32;
    color: white;
    font-size: large;

    &:is(.dark *) {
        background-color: rgb(var(--gray-600));
    }
}

/* API Page layout */
h4#required-permissions,
h4#token-kinds-allowed,
h4#user-kinds-allowed {

    row-gap: 1rem;
    padding-bottom: .625rem;
    border-color: rgb(var(--gray-100));
    border-bottom-width: 1px;
    align-items: baseline;
    width: 100%;

    &:is(.dark *) {
        border-color: rgb(var(--gray-800));
    }

    &+span {

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

}

/* Footnotes */
.footnotes [id^=user-content-fn-] {
    display: list-item;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(var(--gray-600));

    &:is(.dark *) {
        color: rgb(var(--gray-400));
    }
}