openapi: 3.0.0
info:
  version: 1.0.0
  title: Dfns
  description: Dfns API
servers:
  - url: https://api.dfns.io
    description: Production
  - url: https://api.dfns.ninja
    description: Staging
components:
  schemas: {}
  parameters: {}
paths:
  /auth/action:
    post:
      tags:
        - Auth
      summary: " Create User Action Signature"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                challengeIdentifier:
                  type: string
                firstFactor:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                            authenticatorData:
                              type: string
                              minLength: 1
                            userHandle:
                              type: string
                          required:
                            - credId
                            - clientData
                            - signature
                            - authenticatorData
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Key
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Password
                        password:
                          type: string
                          minLength: 1
                      required:
                        - kind
                        - password
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - PasswordProtectedKey
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                secondFactor:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                            authenticatorData:
                              type: string
                              minLength: 1
                            userHandle:
                              type: string
                          required:
                            - credId
                            - clientData
                            - signature
                            - authenticatorData
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Key
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Totp
                        otpCode:
                          type: string
                          minLength: 1
                      required:
                        - kind
                        - otpCode
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - PasswordProtectedKey
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
              required:
                - challengeIdentifier
                - firstFactor
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  userAction:
                    type: string
                required:
                  - userAction
  /auth/action/init:
    post:
      tags:
        - Auth
      summary: " Create User Action Challenge"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userActionServerKind:
                  type: string
                  enum:
                    - Api
                    - Staff
                userActionHttpMethod:
                  type: string
                  minLength: 1
                userActionHttpPath:
                  type: string
                  minLength: 1
                userActionPayload:
                  type: string
              required:
                - userActionHttpMethod
                - userActionHttpPath
                - userActionPayload
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    type: string
                  challengeIdentifier:
                    type: string
                  rp:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - name
                  supportedCredentialKinds:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                            - Key
                            - Password
                            - Totp
                            - RecoveryKey
                            - PasswordProtectedKey
                        factor:
                          type: string
                          enum:
                            - first
                            - second
                            - either
                        requiresSecondFactor:
                          type: boolean
                      required:
                        - kind
                        - factor
                        - requiresSecondFactor
                  userVerification:
                    type: string
                    enum:
                      - required
                      - preferred
                      - discouraged
                  attestation:
                    type: string
                    enum:
                      - none
                      - indirect
                      - direct
                      - enterprise
                  allowCredentials:
                    type: object
                    properties:
                      key:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                      passwordProtectedKey:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                            encryptedPrivateKey:
                              type: string
                          required:
                            - type
                            - id
                            - encryptedPrivateKey
                      webauthn:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                    required:
                      - key
                      - webauthn
                  externalAuthenticationUrl:
                    type: string
                required:
                  - challenge
                  - challengeIdentifier
                  - supportedCredentialKinds
                  - userVerification
                  - attestation
                  - allowCredentials
                  - externalAuthenticationUrl
  /auth/apps:
    get:
      tags:
        - Auth
      summary: " List Applications"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        appId:
                          type: string
                        kind:
                          type: string
                          enum:
                            - ServerSideApplication
                            - ClientSideApplication
                        orgId:
                          type: string
                        expectedRpId:
                          type: string
                        name:
                          type: string
                        isActive:
                          type: boolean
                        expectedOrigin:
                          type: string
                        permissionAssignments:
                          type: array
                          items:
                            type: object
                            properties:
                              permissionName:
                                type: string
                              permissionId:
                                type: string
                              assignmentId:
                                type: string
                              operations:
                                type: array
                                items:
                                  type: string
                            required:
                              - permissionName
                              - permissionId
                              - assignmentId
                        accessTokens:
                          type: array
                          items:
                            type: object
                            properties:
                              accessToken:
                                type: string
                              dateCreated:
                                type: string
                              credId:
                                type: string
                              isActive:
                                type: boolean
                              kind:
                                type: string
                                enum:
                                  - Pat
                                  - ServiceAccount
                                  - Token
                                  - Code
                                  - Recovery
                                  - Temp
                                  - Application
                              linkedUserId:
                                type: string
                              linkedAppId:
                                type: string
                              name:
                                type: string
                              orgId:
                                type: string
                              permissionAssignments:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    permissionName:
                                      type: string
                                    permissionId:
                                      type: string
                                    assignmentId:
                                      type: string
                                    operations:
                                      type: array
                                      items:
                                        type: string
                                  required:
                                    - permissionName
                                    - permissionId
                                    - assignmentId
                              publicKey:
                                type: string
                              tokenId:
                                type: string
                            required:
                              - dateCreated
                              - credId
                              - isActive
                              - kind
                              - linkedUserId
                              - linkedAppId
                              - name
                              - orgId
                              - permissionAssignments
                              - publicKey
                              - tokenId
                      required:
                        - appId
                        - kind
                        - orgId
                        - name
                        - isActive
                        - permissionAssignments
                        - accessTokens
                required:
                  - items
  /auth/apps/{appId}:
    get:
      tags:
        - Auth
      summary: " Get Application"
      parameters:
        - schema:
            type: string
            minLength: 1
          required: true
          name: appId
          in: path
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  appId:
                    type: string
                  kind:
                    type: string
                    enum:
                      - ServerSideApplication
                      - ClientSideApplication
                  orgId:
                    type: string
                  expectedRpId:
                    type: string
                  name:
                    type: string
                  isActive:
                    type: boolean
                  expectedOrigin:
                    type: string
                  permissionAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        permissionName:
                          type: string
                        permissionId:
                          type: string
                        assignmentId:
                          type: string
                        operations:
                          type: array
                          items:
                            type: string
                      required:
                        - permissionName
                        - permissionId
                        - assignmentId
                  accessTokens:
                    type: array
                    items:
                      type: object
                      properties:
                        accessToken:
                          type: string
                        dateCreated:
                          type: string
                        credId:
                          type: string
                        isActive:
                          type: boolean
                        kind:
                          type: string
                          enum:
                            - Pat
                            - ServiceAccount
                            - Token
                            - Code
                            - Recovery
                            - Temp
                            - Application
                        linkedUserId:
                          type: string
                        linkedAppId:
                          type: string
                        name:
                          type: string
                        orgId:
                          type: string
                        permissionAssignments:
                          type: array
                          items:
                            type: object
                            properties:
                              permissionName:
                                type: string
                              permissionId:
                                type: string
                              assignmentId:
                                type: string
                              operations:
                                type: array
                                items:
                                  type: string
                            required:
                              - permissionName
                              - permissionId
                              - assignmentId
                        publicKey:
                          type: string
                        tokenId:
                          type: string
                      required:
                        - dateCreated
                        - credId
                        - isActive
                        - kind
                        - linkedUserId
                        - linkedAppId
                        - name
                        - orgId
                        - permissionAssignments
                        - publicKey
                        - tokenId
                required:
                  - appId
                  - kind
                  - orgId
                  - name
                  - isActive
                  - permissionAssignments
                  - accessTokens
  /auth/credentials:
    post:
      tags:
        - Auth
      summary: " Create Credential"
      parameters:
        - schema:
            type: string
          required: true
          name: X-DFNS-USERACTION
          in: header
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Fido2
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Key
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - PasswordProtectedKey
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    encryptedPrivateKey:
                      type: string
                      minLength: 1
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - encryptedPrivateKey
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Password
                    credentialInfo:
                      type: object
                      properties:
                        password:
                          type: string
                          minLength: 1
                      required:
                        - password
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Totp
                    credentialInfo:
                      type: object
                      properties:
                        otpCode:
                          type: string
                          minLength: 1
                      required:
                        - otpCode
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - RecoveryKey
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    encryptedPrivateKey:
                      type: string
                      minLength: 1
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - Fido2
                      - Key
                      - Password
                      - Totp
                      - RecoveryKey
                      - PasswordProtectedKey
                  credentialId:
                    type: string
                  credentialUuid:
                    type: string
                  dateCreated:
                    type: string
                  isActive:
                    type: boolean
                  name:
                    type: string
                  publicKey:
                    type: string
                  relyingPartyId:
                    type: string
                  origin:
                    type: string
                required:
                  - kind
                  - credentialId
                  - credentialUuid
                  - dateCreated
                  - isActive
                  - name
                  - publicKey
                  - relyingPartyId
                  - origin
    get:
      tags:
        - Auth
      summary: " List Credentials"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                            - Key
                            - Password
                            - Totp
                            - RecoveryKey
                            - PasswordProtectedKey
                        credentialId:
                          type: string
                        credentialUuid:
                          type: string
                        dateCreated:
                          type: string
                        isActive:
                          type: boolean
                        name:
                          type: string
                        publicKey:
                          type: string
                        relyingPartyId:
                          type: string
                        origin:
                          type: string
                      required:
                        - kind
                        - credentialId
                        - credentialUuid
                        - dateCreated
                        - isActive
                        - name
                        - publicKey
                        - relyingPartyId
                        - origin
                required:
                  - items
  /auth/credentials/init:
    post:
      tags:
        - Auth
      summary: " Create Credential Challenge"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Fido2
                    - Key
                    - Password
                    - Totp
                    - RecoveryKey
                    - PasswordProtectedKey
              required:
                - kind
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Password
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Totp
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      otpUrl:
                        type: string
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - otpUrl
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Fido2
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      authenticatorSelection:
                        type: object
                        properties:
                          authenticatorAttachment:
                            type: string
                            enum:
                              - platform
                              - cross-platform
                          residentKey:
                            type: string
                            enum:
                              - required
                              - preferred
                              - discouraged
                          requireResidentKey:
                            type: boolean
                          userVerification:
                            type: string
                            enum:
                              - required
                              - preferred
                              - discouraged
                        required:
                          - residentKey
                          - requireResidentKey
                          - userVerification
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      excludeCredentials:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - authenticatorSelection
                      - attestation
                      - pubKeyCredParams
                      - excludeCredentials
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Key
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - PasswordProtectedKey
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - RecoveryKey
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
  /auth/credentials/activate:
    put:
      tags:
        - Auth
      summary: " Activate Credential"
      parameters:
        - schema:
            type: string
          required: true
          name: X-DFNS-USERACTION
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialUuid:
                  type: string
                  minLength: 1
              required:
                - credentialUuid
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
  /auth/credentials/deactivate:
    put:
      tags:
        - Auth
      summary: " Deactivate Credential"
      parameters:
        - schema:
            type: string
          required: true
          name: X-DFNS-USERACTION
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialUuid:
                  type: string
                  minLength: 1
              required:
                - credentialUuid
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
  /auth/credentials/code:
    post:
      tags:
        - Auth
      summary: " Create Credential Code"
      parameters:
        - schema:
            type: string
          required: true
          name: X-DFNS-USERACTION
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expiration:
                  anyOf:
                    - type: string
                      format: date-time
                    - type: integer
                      minimum: 0
                      exclusiveMinimum: true
                  description: Code expiration, as an ISO-8601 datetime string or a unix timestamp
              required:
                - expiration
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  expiration:
                    type: string
                required:
                  - code
                  - expiration
  /auth/credentials/code/init:
    post:
      tags:
        - Auth
      summary: " Create Credential Challenge With Code"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialKind:
                  type: string
                  enum:
                    - Fido2
                    - Key
                    - Password
                    - Totp
                    - RecoveryKey
                    - PasswordProtectedKey
                code:
                  type: string
                  minLength: 1
              required:
                - credentialKind
                - code
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Password
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Totp
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      otpUrl:
                        type: string
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - otpUrl
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Fido2
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      authenticatorSelection:
                        type: object
                        properties:
                          authenticatorAttachment:
                            type: string
                            enum:
                              - platform
                              - cross-platform
                          residentKey:
                            type: string
                            enum:
                              - required
                              - preferred
                              - discouraged
                          requireResidentKey:
                            type: boolean
                          userVerification:
                            type: string
                            enum:
                              - required
                              - preferred
                              - discouraged
                        required:
                          - residentKey
                          - requireResidentKey
                          - userVerification
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      excludeCredentials:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - authenticatorSelection
                      - attestation
                      - pubKeyCredParams
                      - excludeCredentials
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - Key
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - PasswordProtectedKey
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                          - RecoveryKey
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - displayName
                          - name
                      challengeIdentifier:
                        type: string
                      challenge:
                        type: string
                      rp:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                        required:
                          - id
                          - name
                      attestation:
                        type: string
                        enum:
                          - none
                          - indirect
                          - direct
                          - enterprise
                      pubKeyCredParams:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            alg:
                              type: number
                          required:
                            - type
                            - alg
                      temporaryAuthenticationToken:
                        type: string
                        description: "@deprecated use challengeIdentifier instead"
                    required:
                      - kind
                      - user
                      - challengeIdentifier
                      - challenge
                      - attestation
                      - pubKeyCredParams
                      - temporaryAuthenticationToken
  /auth/credentials/code/verify:
    post:
      tags:
        - Auth
      summary: " Create Credential With Code"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Fido2
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Key
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - PasswordProtectedKey
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    encryptedPrivateKey:
                      type: string
                      minLength: 1
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - encryptedPrivateKey
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Password
                    credentialInfo:
                      type: object
                      properties:
                        password:
                          type: string
                          minLength: 1
                      required:
                        - password
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - Totp
                    credentialInfo:
                      type: object
                      properties:
                        otpCode:
                          type: string
                          minLength: 1
                      required:
                        - otpCode
                      additionalProperties: false
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
                - type: object
                  properties:
                    credentialKind:
                      type: string
                      enum:
                        - RecoveryKey
                    credentialInfo:
                      type: object
                      properties:
                        credId:
                          type: string
                          minLength: 1
                        clientData:
                          type: string
                          minLength: 1
                        attestationData:
                          type: string
                          minLength: 1
                      required:
                        - credId
                        - clientData
                        - attestationData
                      additionalProperties: false
                    encryptedPrivateKey:
                      type: string
                      minLength: 1
                    credentialName:
                      type: string
                      minLength: 1
                    challengeIdentifier:
                      type: string
                      minLength: 1
                  required:
                    - credentialKind
                    - credentialInfo
                    - credentialName
                    - challengeIdentifier
                  additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - Fido2
                      - Key
                      - Password
                      - Totp
                      - RecoveryKey
                      - PasswordProtectedKey
                  credentialId:
                    type: string
                  credentialUuid:
                    type: string
                  dateCreated:
                    type: string
                  isActive:
                    type: boolean
                  name:
                    type: string
                  publicKey:
                    type: string
                  relyingPartyId:
                    type: string
                  origin:
                    type: string
                required:
                  - kind
                  - credentialId
                  - credentialUuid
                  - dateCreated
                  - isActive
                  - name
                  - publicKey
                  - relyingPartyId
                  - origin
  /auth/login/code:
    post:
      tags:
        - Auth
      summary: " Send Login Code"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                orgId:
                  type: string
                  minLength: 1
              required:
                - username
                - orgId
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
  /auth/login/init:
    post:
      tags:
        - Auth
      summary: " Create Login Challenge"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                orgId:
                  type: string
                loginCode:
                  type: string
              required:
                - orgId
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    type: string
                  challengeIdentifier:
                    type: string
                  rp:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - name
                  supportedCredentialKinds:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                            - Key
                            - Password
                            - Totp
                            - RecoveryKey
                            - PasswordProtectedKey
                        factor:
                          type: string
                          enum:
                            - first
                            - second
                            - either
                        requiresSecondFactor:
                          type: boolean
                      required:
                        - kind
                        - factor
                        - requiresSecondFactor
                  userVerification:
                    type: string
                    enum:
                      - required
                      - preferred
                      - discouraged
                  attestation:
                    type: string
                    enum:
                      - none
                      - indirect
                      - direct
                      - enterprise
                  allowCredentials:
                    type: object
                    properties:
                      key:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                      passwordProtectedKey:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                            encryptedPrivateKey:
                              type: string
                          required:
                            - type
                            - id
                            - encryptedPrivateKey
                      webauthn:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - public-key
                            id:
                              type: string
                          required:
                            - type
                            - id
                    required:
                      - key
                      - webauthn
                  externalAuthenticationUrl:
                    type: string
                required:
                  - challenge
                  - challengeIdentifier
                  - supportedCredentialKinds
                  - userVerification
                  - attestation
                  - allowCredentials
                  - externalAuthenticationUrl
  /auth/login:
    post:
      tags:
        - Auth
      summary: " Login"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                challengeIdentifier:
                  type: string
                firstFactor:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                            authenticatorData:
                              type: string
                              minLength: 1
                            userHandle:
                              type: string
                          required:
                            - credId
                            - clientData
                            - signature
                            - authenticatorData
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Key
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Password
                        password:
                          type: string
                          minLength: 1
                      required:
                        - kind
                        - password
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - PasswordProtectedKey
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                secondFactor:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Fido2
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                            authenticatorData:
                              type: string
                              minLength: 1
                            userHandle:
                              type: string
                          required:
                            - credId
                            - clientData
                            - signature
                            - authenticatorData
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Key
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Totp
                        otpCode:
                          type: string
                          minLength: 1
                      required:
                        - kind
                        - otpCode
                      additionalProperties: false
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - PasswordProtectedKey
                        credentialAssertion:
                          type: object
                          properties:
                            credId:
                              type: string
                              minLength: 1
                            clientData:
                              type: string
                              minLength: 1
                            signature:
                              type: string
                              minLength: 1
                            algorithm:
                              type: string
                              minLength: 1
                          required:
                            - credId
                            - clientData
                            - signature
                          additionalProperties: false
                      required:
                        - kind
                        - credentialAssertion
                      additionalProperties: false
              required:
                - challengeIdentifier
                - firstFactor
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                required:
                  - token
  /auth/login/delegated:
    post:
      tags:
        - Auth
      summary: " Delegated Login"
      parameters:
        - schema:
            type: string
          required: true
          name: X-DFNS-USERACTION
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
              required:
                - username
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                required:
                  - token
  /auth/login/social:
    post:
      tags:
        - Auth
      summary: " Social Login"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orgId:
                  type: string
                socialLoginProviderKind:
                  type: string
                  enum:
                    - Oidc
                idToken:
                  type: string
              required:
                - socialLoginProviderKind
                - idToken
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                required:
                  - token
  /auth/logout:
    put:
      tags:
        - Auth
      summary: " Logout"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                allSessions:
                  type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
  /auth/pats:
    get:
      tags:
        - Auth
      summary: " List Personal Access Tokens"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        accessToken:
                          type: string
                        dateCreated:
                          type: string
                        credId:
                          type: string
                        isActive:
                          type: boolean
                        kind:
                          type: string
                          enum:
                            - Pat
                            - ServiceAccount
                            - Token
                            - Code
                            - Recovery
                            - Temp
                            - Application
                        linkedUserId:
                          type: string
                        linkedAppId:
                          type: string
                        name:
                          type: string
                        orgId:
                          type: string
                        permissionAssignments:
                          type: array
                          items:
                            type: object
                            properties:
                              permissionName:
                                type: string
                              permissionId:
                                type: string
                              assignmentId:
                                type: string
                              operations:
                                type: array
                                items:
                                  type: string
                            required:
                              - permissionName
                              - permissionId
                              - assignmentId
                        publicKey:
                          type: string
                        tokenId:
                          type: string
                      required:
                        - dateCreated
                        - credId
                        - isActive
                        - kind
                        - linkedUserId
                        - linkedAppId
                        - name
                        - orgId
                        - permissionAssignments
                        - publicKey
                        - tokenId
                required:
                  - items
    post:
      tags:
        - Auth
      summary: " Create Personal Access Token"
      parameters:
        - schema:
            type: string
          required: true
          name: X-DFNS-USERACTION
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                publicKey:
                  type: string
                  pattern: ^-----BEGIN (RSA )?PUBLIC KEY-----[A-Za-z0-9+/=\n\r\\]+-----END (RSA
                    )?PUBLIC KEY-----\s?$
                permissionId:
                  type: string
                externalId:
                  type: string
                daysValid:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                secondsValid:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
              required:
                - name
                - publicKey
              additionalProperties: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  dateCreated:
                    type: string
                  credId:
                    type: string
                  isActive:
                    type: boolean
                  kind:
                    type: string
                    enum:
                      - Pat
                      - ServiceAccount
                      - Token
                      - Code
                      - Recovery
                      - Temp
                      - Application
                  linkedUserId:
                    type: string
                  linkedAppId:
                    type: string
                  name:
                    type: string
                  orgId:
                    type: string
                  publicKey:
                    type: string
                  tokenId:
                    type: string
                  permissionAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        permissionName:
                          type: string
                        permissionId:
                          type: string
                        assignmentId:
                          type: string
                        operations:
                          type: array
                          items:
                            type: string
                      required:
                        - permissionName
[...]
